<div class="content">
  <nav>navbar</nav>

  <div class="content__sections">
    <div class="row" resizableSection r-directions="['bottom']" r-flex="true">
      <section id="one" resizableSection r-directions="['right']" r-flex="true">
        <p>Works with flexbox.</p>
      </section>
    </div>
    <div class="row">
      <section id="three" resizableSection>
        <p>
          Completely separates <strong>layout logic</strong> from
          <strong>resize logic</strong>. All layout logic must be done by you in
          the CSS (as it should be). Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Eius, dolorem? Repellendus tenetur nostrum
          distinctio veritatis voluptatibus nam. Suscipit, ducimus sunt? Saepe
          quidem hic doloribus ducimus aperiam ut eaque, alias animi.
        </p>
      </section>
    </div>
  </div>
</div>
