// .flex-container {
//   display: flex;
//   flex-direction: column; /* Change to column */
// }
// .flex-item {
//   flex: 1 5 50%;

//   border: 1px solid black;
// }
// .grabber {
//   height: 10px; /* Change width to height */
//   //   opacity: 0;
// }
// .grabber:hover {
//   opacity: 1;
//   cursor: row-resize; /* Change cursor */
// }
// .side-panel {
//   background-color: lightgray;
// }

// .item-1 {
//   min-height: 400px; /* Adjust height */
// }

// .item-2 {
//   min-height: 400px; /* Adjust height */
// }

.home {
  display: grid;
  grid-template-columns: auto 1fr; /* Navbar and content */
  grid-template-rows: auto 1fr; /* Navbar and sidebar */
  height: 100vh; /* Full height */
  overflow-y: hidden;
}

nav {
  grid-column: 1 / span 2; /* Span both columns */
  //   background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
  //   padding: 10px; /* Example padding */
}

aside {
  grid-row: 2; /* Second row */
  background-color: #555; /* Example background color */
  color: #fff; /* Example text color */
  //   padding: 10px; /* Example padding */
  width: 200px; /* Example width */
}

.container-fluid {
  grid-column: 2; /* Second column */
  grid-row: 2; /* Second row */
  margin-top: 1rem; /* Example margin-top */
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1 5 50%;
  height: 600px;
  //   border: 1px solid black;
}

// .item-1 {
//   //   background-color: red;
// }
// .item-2 {
//   //   background-color: yellow;
// }

.grabber {
  height: 8px;
  //   height: 8px;
  //   cursor: col-resize; /* Change cursor to n-resize */
  //   opacity: 0;
}

.grabber:hover,
.grabber:active {
  //   background-color: #ccccccac; /* Example hover background color */
  cursor: row-resize; /* Change cursor to n-resize */
  border-top: thick double red;
}

// skeleton styles

.skeleton {
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0 0.2rem;
}
.top {
  display: flex;
  gap: 0.5rem;
}

.bottom {
  display: flex;
  gap: 1.5rem;
  padding-left: 0.5rem;
}
