<div class="signup">
  <h1>Sign Up</h1>
  <form (submit)="onClickSignUp(); $event.preventDefault()">
    <label for="username">Username</label>
    <input
      type="text"
      placeholder="Username"
      id="username"
      (input)="onChangeUsername($event)"
    />
    <label for="email">Email</label>
    <input
      type="text"
      placeholder="Email"
      id="email"
      (input)="onChangeEmail($event)"
    />
    <label for="password">Password</label>
    <input
      type="password"
      placeholder="password"
      id="password"
      (input)="onChnagePassword($event)"
    />
    <label for="passwordRepeat">Password Repeat</label>
    <input
      type="password"
      placeholder="password"
      id="passwordRepeat"
      (input)="onChnagePasswordRepeat($event)"
    />
    <button type="submit" [disabled]="isDisabled()">Sign Up</button>
  </form>
</div>
